<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Form</h1>
    <form action="/blogs" method="POST">
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" required>
        <label for="title">Blog snippet</label>
        <input type="text" id="snippet" name="snippet" required>
        <label for="body">Blog body</label>
        <textarea type="text" id="body" required name="body" ></textarea>
        <button>Submit</button>
    </form>

</body>
</html>